@import './Contracts.scss';

.no-data {
  margin-top: 53px;
  width: 100%;
  min-height: 325px;
  background: #FFFFFF;
  border: 1px solid #DCE0E2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contract-home, .contract-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1248px;
  padding-left: 20px;
  padding-right: 20px;
  background: #F2F3F4;
  .button-area {
    position: absolute;
    width: 100%;
    margin-top: -8px;
    display: flex;
    justify-content: flex-end;
    .last-button {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
  .contract-list {
    margin-top: 37px;
    padding-bottom: 16px;
  }
  .contract-card {
    margin-top: 16px;
  }
}

.contract-wide-button {
  width: 240px;
  height: 40px;
  border-radius: 20px !important;
  font-size: 13px !important;
  z-index: 2;
}

.small-button {
  width: 120px;
  height: 40px;
  border-radius: 20px !important;
  font-size: 13px !important;
}
